.RightPlaceHeader{
    text-align: center;
    font-size: 50px;
}

.RightPlaceContent{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.RightPlaceContent h1{
    width: 40%;
    background: linear-gradient(304deg, rgba(112,32,140,1) 20%, rgba(214,0,132,1) 100%);
    padding: 20px;
    color: white;
}